@import "../../partials/base";
@import "sprites_mixins";


/* this needs to work for Alchemy */
$spritePath: image-url("alchemy/icons/action-icons.png");

[class*="_icon_grey"],
[class*="_icon_black"],
[class*="_icon-"],
[class*="_icon"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: $spritePath;
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

//Black Icons
.search_icon-black          { background-position: 1px -16px; }
.edit_icon-black            { background-position: -16px -16px; }
.x_icon-black               { background-position: -33px -16px; }
.add_icon-black             { background-position: -48px -16px; }
.gears_icon-black           { background-position: -63px -16px; }
.unknown_icon-black         { background-position: -80px -16px; }
.lock_icon-black            { background-position: -97px -16px; }
.unlock_icon-black          { background-position: -112px -17px; }
.progress_gear_icon-black   { background-position: -128px -16px; }
.discs_icon-black           { background-position: -144px -16px; }
.circle_x_icon-black        { background-position: -160px -16px; }
.play_icon-black            { background-position: -176px -16px; }
.stop_icon-black            { background-position: -192px -16px; }
.camera_icon-black          { background-position: -208px -16px; }
.key_icon-black             { background-position: -224px -16px; }
.circle_plus_icon-black     { background-position: -240px -16px; }
.details_icon-black         { background-position: -257px -16px; }
.refresh_icon-black         { background-position: -272px -16px; }
.power_icon-black           { background-position: -288px -16px; }
.terminal_icon-black        { background-position: -304px -16px; }
.computer_icon-black        { background-position: -320px -16px; }
.help_tip_icon-black        { background-position: -336px -16px; }
.machine_icon-black         { background-position: -352px -16px; }
.machine_outline_icon-black { background-position: -368px -16px; }
.warning_icon-black         { background-position: -384px -16px; }
.plus_box_icon-black        { background-position: -400px -16px; }
.bug_icon-black             { background-position: -416px -16px; }
.shield_icon-black          { background-position: -432px -16px; }
.check_icon-black           { background-position: -448px -16px; }
.clock_icon-black           { background-position: -464px -16px; }
.gear_menu_icon-black       { background-position: -480px -16px; }
.download_icon-black        { background-position: -512px -16px; }
.down_arrow_icon-black      { background-position: -528px -16px; }
.right_arrow_icon-black     { background-position: -544px -16px; }
.package_icon-black         { background-position: -560px -16px; }
.errata_icon-black          { background-position: -576px -16px; }
.system_group_icon-black    { background-position: -592px -16px; }
.collapse_icon-black        { background-position: -608px -16px; }
.favorites_icon-black       { background-position: -624px -16px; }
.dot_icon-black             { background-position: -640px -16px; }
.left_arrow_icon-black      { background-position: -656px -16px; }
.selector_icon-black        { background-position: -672px -16px; }
.validation_icon-black      { background-position: -688px -16px; }

//Grey Icons
.search_icon-grey          { background-position: 1px 0; }
.edit_icon-grey            { background-position: -16px 0; }
.x_icon-grey               { background-position: -33px 0; }
.add_icon-grey             { background-position: -48px 0; }
.gears_icon-grey           { background-position: -63px 0; }
.unknown_icon-grey         { background-position: -80px 0; }
.lock_icon-grey            { background-position: -97px 0; }
.unlock_icon-grey          { background-position: -112px 0; }
.progress_gear_icon-grey   { background-position: -128px 0; }
.discs_icon-grey           { background-position: -144px 0; }
.circle_x_icon-grey        { background-position: -160px 0; }
.play_icon-grey            { background-position: -176px 0; }
.stop_icon-grey            { background-position: -192px 0; }
.camera_icon-grey          { background-position: -208px 0; }
.key_icon-grey             { background-position: -224px 0; }
.circle_plus_icon-grey     { background-position: -240px 0; }
.details_icon-grey         { background-position: -257px 0; }
.refresh_icon-grey         { background-position: -272px 0; }
.power_icon-grey           { background-position: -288px 0; }
.terminal_icon-grey        { background-position: -304px 0; }
.computer_icon-grey        { background-position: -320px 0; }
.help_tip_icon-grey        { background-position: -336px 0; }
.machine_icon-grey         { background-position: -352px 0; }
.machine_outline_icon-grey { background-position: -368px 0; }
.warning_icon-grey         { background-position: -384px 0; }
.plus_box_icon-grey        { background-position: -400px 0; }
.bug_icon-grey             { background-position: -416px 0; }
.shield_icon-grey          { background-position: -432px 0; }
.check_icon-grey           { background-position: -448px 0; }
.clock_icon-grey           { background-position: -464px 0; }
.gear_menu_icon-grey       { background-position: -480px 0; }
.download_icon-grey        { background-position: -512px 0; }
.down_arrow_icon-grey      { background-position: -528px 0; }
.right_arrow_icon-grey     { background-position: -544px 0; }
.package_icon-grey         { background-position: -560px 0; }
.errata_icon-grey          { background-position: -576px 0; }
.system_group_icon-grey    { background-position: -592px 0; }
.collapse_icon-grey        { background-position: -608px 0; }
.favorites_icon-grey       { background-position: -624px 0; }
.dot_icon-grey             { background-position: -640px 0; }
.left_arrow_icon-grey      { background-position: -656px 0; }
.selector_icon-grey        { background-position: -672px 0; }
.validation_icon-grey      { background-position: -688px 0; }
