$label_font-color:              #CCC !default;
$input_font-color:              #50505A !default;
$login_link-color:              #0194E8 !default;
$login_base-color:              #D9D9D9 !default;
$login_card_shadow-color:       #D9D9D9 !default;
$login_background_top-color:    #efefef !default;
$login_background_bottom-color: #efefef !default;
$login_card_outer_shadow-color: #ACACAC !default;

$login_container-width: 500px !default;
$login-container_top-padding: 10px !default;
$login_container-height: 275px - $login-container_top-padding !default;
$form_container-padding: 30px !default;
$logo_container-width: 140px !default;
$form_container-width: 360px !default;
$login_form_top-margin: 75px - 20px !default;
