$label_font_color:              #CCC !default;
$input_font_color:              #50505A !default;
//$login_link_color:              #0194E8 !default;
$login_base_color:              #D9D9D9 !default;
$login_card_shadow_color:       #D9D9D9 !default;
$login_background_top_color:    #efefef !default;
$login_background_bottom_color: #efefef !default;
$login_card_outer_shadow_color: #ACACAC !default;

$login_container_width: 500px !default;
$login_container_top_padding: 10px !default;
$login_container_height: 275px - $login_container_top_padding !default;
$form_container_padding: 30px !default;
$logo_container_width: 140px !default;
$form_container_width: 360px !default;
$login_form_top_margin: 75px - 20px !default;

// forms override
$input_width: $form_container_width - 2 * $form_container_padding - 2px - 20px;
