// layout
$left_column_width: 200px;
$input_width: 280px;
$input_padding: 10px;

// colors
$light_border_color: lighten($border_color, 10%);
$fieldset_border_color: lighten($border_color, 10%);

$fieldset_text_color: lighten($text_color, 46%);
$placeholder_color: lighten($text_color, 55%);
$note_text_color: lighten($text_color, 40%);
$message_text_color: lighten($text_color, 20%);

$disabled_color: lighten($rh_base, 60%);
$disabled_text_color: lighten($text_color, 40%);
$readonly_text_color: lighten($disabled_text_color, 2%);

$light_box_color: lighten($rh_base, 60%);
$light_box_gradient: lighten($light_box_color, 40%);
$dark_box_color: darken($rh_base, 3%);
$dark_box_gradient: lighten($dark_box_color, 8%);
$fieldset_background_color: rgb(253, 253, 253);

$shadow_color: lighten($border_color, 20%);
