// layout
$left_column_width: 200px;
$input_width: 280px;
$input_padding: 10px;


// colors
$success_color: $green2;
$warning_color: lighten($o4, 6%);
$error_color: lighten($rh-red1, 5%);

$border_color: lighten($rh-base, 40%);
$light_border_color: lighten($border_color, 10%);

$placeholder_color: lighten($text_color_2, 55%);
$note_text_color: lighten($text_color_2, 40%);
$message_text_color: lighten($text_color_2, 20%);

$disabled_color: lighten($rh-base, 60%);
$disabled_text_color: lighten($text_color_2, 40%);
$readonly_text_color: darken($disabled_text_color, 10%);

$light_box_color: lighten($rh-base, 60%);
$light_box_gradient: lighten($light_box_color, 40%);
$dark_box_color: darken($rh-base, 3%);
$dark_box_gradient: lighten($dark_box_color, 8%);

$shadow_color: lighten($rh-base, 58%);
