.ie8 {
  .form {
    .help {
      i:hover:after {
        display: none;
      }

      span {
        top: 25px;
      }
    }

    &.labels_top {
      .help {
        span {
          top: 20px;
        }
      }
    }

    .hint,
    .message {
      &:before,
      &:after {
        display: none;
      }
    }

    .hint {
      display: none;

      &.always_visible {
        display: inline-block;
      }
    }

    .control_group input:focus ~ .hint {
      display: block;

      &.always_visible {
        display: inline-block;
      }
    }
  }
}
