@import "ui_alchemy/alchemy/alchemy";


@font-face {
    font-family: 'Overpass';
    src: local("Overpass"),
         font-url('alchemy/overpass_regular-web.eot?#iefix') format('eot'),
         font-url('alchemy/overpass_regular-web.woff') format('woff'),
         font-url('alchemy/overpass_regular-web.ttf') format('truetype'),
         font-url('alchemy/overpass_regular-web.svg#webfontLTZe4IYH') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: local("Overpass Bold"), local("OverpassBold"),
         font-url('alchemy/overpass_bold-web.eot?#iefix') format('eot'),
         font-url('alchemy/overpass_bold-web.woff') format('woff'),
         font-url('alchemy/overpass_bold-web.ttf') format('truetype'),
         font-url('alchemy/overpass_bold-web.svg#webfontzAU82Ltw') format('svg');
    font-weight: bold;
    font-style: normal;
}
