$btn_neutral_color: lighten($rh_base, 47%);
$btn_primary_color: darken($primary_color, 7%);
$btn_danger_color: darken($rh_red1, 8%);

$btn_border_color: darken($btn_neutral_color, 8%);
$btn_text_color: lighten($text_color, 10%);
$btn_white_text_color: lighten($rh_cream, 15%);

$btn_shadow_reflection_dark: 0 1px 6px rgba($white_color, 0.25) inset;
$btn_shadow_reflection_light: 0 1px 3px rgba($white_color, 1) inset;
