@import "alchemy/partials/base";

//***shared between login and shell.***//
//is javascript working?
.noscript-warning {
  color: $white_color;
  background-color: $error_color;
  font-family: $headlinefont;
  font-weight: bold;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 101;
  text-align: center;
  font-size: 120%;
  padding: 5px 0px 5px 0px;
}
