@import "../partials/base";
@import "footer/footer_vars";


* {margin:0;padding:0;}

body {
  background-color: $application_background_color;
  &:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
  }
}

body, html {
  height:100%;
  font-family: $screenfont;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
}

html {
  /*forcing scrl*/
  height:100%;
  margin-bottom: 1px !important;
  overflow-y: scroll;
}
#wrapper {
  min-height: 100%;
  //padding-bottom: 10px;
}
#maincontent {
  overflow: auto;
  padding-bottom: $stickyfooter_height + 10 + px;

  section.maincontent{
      background-color: #FFF;
      min-height:20em;
      margin: 0 auto 5px;
      width: 960px;
      @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.6));

      h1 {
        color:transparent;
        padding-top: 3em;
        color: #ddd;
        text-align: center;
        font-weight: normal;
        text-transform:capitalize;
      }

  }
}

/* microclearfix on all areas */
section:before, section:after, article:before, article:after {
  content:"";
  display:table;
}

article:after, section:after {
  clear:both;
}
