@import "../partials/base";


body > footer {
  min-height: 55px;
  background: $footer_background-color;
  border-top: 1px solid $footer_border_top-color;
  clear:both;
  position: relative;
  margin-top: (0 - $stickyfooter-height - 1) + px; /* negative value of footer height */
  height: $stickyfooter-height + px;

  span {
    width: 74px;
    position: absolute;
    left: 30px;
    bottom: 16px;
  }

  p.copyright {
    position: relative;
    bottom: -16px;
    text-align: center;
  }

  ul {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 16px;

    li {
      margin-right: 20px;
      float: left;

      a {
        font-size: 11px;
        color: #50505a;
      }
    }

    &:last-child {
      margin-right: 30px;
    }
  }

  .versioning {
    position: relative;
    bottom: -18px;
    text-align: center;
  }
}
