@import "../partials/base";


.centered {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

header#header {
  @include header-background_color;
  height: $header_height;
  border-top: 4px solid $header_border_top-color;
  border-bottom: 4px solid $header_border_bottom-color;
  position: relative;
  font-family: "Overpass",Interstate,sans-serif;
  h1 {
    position: absolute;
    bottom: 25px;
    left: 15px;
    display: inline-block;
    margin: 0;
    font-size: inherit;
    text-indent: -5555px;
  }
  .logo {
    background: $logo_img;
    text-indent: -5555px;
    width: 170px;
    height: 30px;
    bottom: 25px;
    left: 15px;
    position: absolute;
    display: block;
  }
  #loading {
    display: none;
    bottom: 27px;
    display: none;
    height: 22px;
    padding: 0;
    position: absolute;
    width: 22px;
    z-index: 100;
    background: $loading_img;
  }
  #appnav {
    border: 1px solid rgba(11, 15, 16, .55);
    border-bottom: none;
    border-radius: 3px 3px 0 0; 
    white-space: nowrap;
    margin: 0 auto;
    z-index: 2;
    float: left;
    ul {
      position: relative;
      overflow: auto;
      border-radius: 3px 3px 0 0;
      border: 1px solid rgba(205, 206, 208, .40);
      border-bottom: none;
      outline: 0 none;
      li {
        display: block;
        float: left;
        position: relative;
        outline: 0 none;
        a {
          display: block;
          text-decoration: none;
          position: relative;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          font-weight: bold;
          color: #f1f1f1;
          padding: 0 13px;
          font-size: 13px;
          background-color: $tab_background-color;
          height: 28px;
          line-height: 28px;
          border-right: 3px solid rgba(205, 206, 208, .40);
          -moz-background-clip: padding;   
          -webkit-background-clip: padding;
          background-clip: padding-box;           
          outline: 0 none;
          &.selected {
            color: #50505a;
            position: relative;
            outline: 0 none;
            @include tab-selected-bg;
            &:hover {
              @include tab-selected-bg;
              color: #37373E;
            }
          }

          &:hover {
            outline: 0 none;
            background: rgba(25, 25, 30, .15);
            color: #f1f1f1;
          }
        }

        &:first-child > a {
          outline: 0 none;
          -webkit-border-radius: 3px 0 0 0;
          -moz-border-radius: 3px 0 0 0;
          border-radius: 3px 0 0 0;
        }

        &:last-child > a {
          -webkit-border-radius: 0 3px 0 0;
          -moz-border-radius: 0 3px 0 0;
          border-radius: 0 3px 0 0;
          border-right: none;
        }
      }
    }
  }
  #nav-container {
    bottom: 0;
    display: block;
    height: 2.5em;
    left: 35%;
    padding: 5px 6px 0 6px;
    position: absolute;
    @include border-top-lr-radius(5px);
  }
  #widget-container {
    float: right;
    margin-right: 15px;
    position: relative;
    top: 22px;
    min-width: 225px;
    a { color: $white_color;}
    ul {
      float: left;
      li {
        ul {
          display: none;
          position: absolute;
          left: 0px;
          background-color: #0A6684;
          @include border-trbrbl-radius(5px);
          @include box-shadow(2px 2px 2px rgba(0,0,0,0.4));
          min-width: 4.2em;
          padding: 2px 12px;
          position: absolute;
          text-align: left;
          top: 16px;
          z-index: 99;
        }
        .arrow_icon_menu {
          height: 11px;
          width: 13px;
          background: $arrow_icon;
          float: right;
          margin: 4px 0 0 0;
          &:hover {
            background: $arrow_icon;
            background-position: 0 -13px;
          }
        }
      }
    }
  }

  .header-widget {
    background-color: $tab_background-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    color: #FFF;
    text-align: center;
    margin-right: 8px;
    padding: 2px 6px;
    text-decoration: none;
    float: right;
  }
}
