@charset "UTF-8";
@import "../partials/base";


//Images
$logo_img:                    image-url("embed/logo.png") no-repeat 0 0 transparent;
$spinner_img:                 image-url("converge-ui/icons/spinner.gif") no-repeat 0 0 transparent;
$loading_img:                 image-url("converge-ui/icons/spinner_head.gif") no-repeat 0 0 transparent;

/* this needs to work for converge-ui */
$spritePath: image-url("converge-ui/icons/action-icons.png");

[class$="_icon_grey"],
[class$="_icon_black"],
[class*="-icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: $spritePath;
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

//Icons
.search_icon_white        { background-position: 0 0; }
.edit_icon_black          { background-position: -16px -16px; }
.x_icon_grey              { background-position: -32px 0px; }
.x_icon_black             { background-position: -32px -16px; }
.add_icon_black           { background-position: -48px -16px; }
.gears_icon_black         { background-position: -64px -16px; }
.gears_icon_grey          { background-position: -64px 0px; }
.lock_icon_grey           { background-position: -96px 0px; }
.lock_icon_black          { background-position: -96px -16px; }
.circle-x_icon_black      { background-position: -160px -16px; }
.circle-x_icon_grey       { background-position: -160px 0px; }
.play_icon_black          { background-position: -176px -16px; }
.play_icon_grey           { background-position: -176px 0; }
.details_icon_grey        { background-position: -256px 0px; }
.details_icon_black       { background-position: -256px -16px; }
.comp_icon_black          { background-position: -320px -16px; }
.help-tip_icon_grey       { background-position: -336px 0px; }
.help-tip_icon_black      { background-position: -336px -16px; }
.warning_icon_triangle    { background-position: -384px -16px; }
.error_icon_black         { background-position: -384px -16px; }
.plus_icon_black          { background-position: -400px -16px; }
.bug_icon_black           { background-position: -416px -16px; }
.shield_icon_black        { background-position: -432px -16px; }
.check_icon_black         { background-position: -448px -16px; }
.clock_icon_black         { background-position: -464px -16px; }
.gear_icon                { background-position: -480px 0px; }
.gear_icon-dark           { background-position: -480px -16px; }
.download_icon_black      { background-position: -513px 0px; }
.download_icon_grey       { background-position: -513px -16px; }
.down_arrow-icon-grey     { background-position: -529px 0px; }
.down_arrow-icon-black    { background-position: -529px -16px; }
.right_arrow-icon-grey    { background-position: -544px 0px; }
.right_arrow-icon-black   { background-position: -544px -16px; }
.package_icon_grey        { background-position: -560px 0px; }
.package_icon_black       { background-position: -560px -16px; }
.erratum_icon_grey        { background-position: -576px 0px; }
.erratum_icon_black       { background-position: -576px -16px; }
.system_group_icon_grey   { background-position: -590px 0px; }
.system_group_icon_black  { background-position: -590px -16px; }
.collapse-icon-grey       { background-position: -606px 0px; }
.collapse-icon-black      { background-position: -606px -16px; }
.favorites-icon-white     { background-position: -622px 0px; }
.favorites-icon-blue      { background-position: -622px -16px; }
.dot-icon-grey            { background-position: -639px 0px; }
.dot-icon-black           { background-position: -639px -16px; }
.left_arrow-icon-grey     { background-position: -654px 0px; }
.left_arrow-icon-black    { background-position: -654px -16px; }
.add_env-icon-grey        { background-position: -671px 0px; }
.add_env-icon-black       { background-position: -671px -16px; }


$arrow_min_img_small:         image-url("converge-ui/icons/action-icons.png")  -544px -16px no-repeat;
$arrow_max_img_small:         image-url("converge-ui/icons/action-icons.png")  -528px -16px no-repeat;
$x_icon_grey:                 image-url("converge-ui/icons/action-icons.png")  -32px 0px no-repeat;
$x_icon_black:                image-url("converge-ui/icons/action-icons.png")  -32px -16px no-repeat;
$add_icon_black:              image-url("converge-ui/icons/action-icons.png")  -48px -16px no-repeat;
$edit_icon_black:             image-url("converge-ui/icons/action-icons.png")  -16px -16px no-repeat;
$circle_x_icon_black:         image-url("converge-ui/icons/action-icons.png")  -160px -16px no-repeat;
$circle_x_icon_grey:          image-url("converge-ui/icons/action-icons.png")  -160px 0px no-repeat;
$play_icon_black:             image-url("converge-ui/icons/action-icons.png")  -176px -16px no-repeat;
$play_icon_grey:              image-url("converge-ui/icons/action-icons.png")  -176px 0 no-repeat;
$comp_icon_black:             image-url("converge-ui/icons/action-icons.png")  -320px -16px no-repeat;
$search_icon_white:           image-url("converge-ui/icons/action-icons.png") no-repeat 0 0;
$base_product_icon:           image-url("converge-ui/icons/objects.png") no-repeat 0 0;
$custom_product_icon:         image-url("converge-ui/icons/objects.png") no-repeat -16px 0;
$rh_product_icon:             image-url("converge-ui/icons/objects.png") no-repeat -48px 0;
$arrow_icon:                  image-url("converge-ui/icons/arrow_icon.png") no-repeat 0 0;
$arrow_icon_menu:             image-url("converge-ui/icons/arrow_icon.png") no-repeat -26px 0;
$arrow_icon_menu_hover:       image-url("converge-ui/icons/arrow_icon.png") no-repeat -13px 0;
$gears_icon_black:            image-url("converge-ui/icons/action-icons.png") -64px -16px no-repeat;
$gears_icon_grey:             image-url("converge-ui/icons/action-icons.png") -64px 0px no-repeat;
$warning_icon_triangle:       image-url("converge-ui/icons/action-icons.png") -384px -16px no-repeat;
$warning_icon_black:          image-url("converge-ui/icons/action-icons.png") -432px -16px no-repeat;
$error_icon_black:            image-url("converge-ui/icons/action-icons.png") -384px -16px no-repeat;
$check_icon_black:            image-url("converge-ui/icons/action-icons.png") -448px -16px no-repeat;
$clock_icon_black:            image-url("converge-ui/icons/action-icons.png") -464px -16px no-repeat;
$gear_icon:                   image-url("converge-ui/icons/action-icons.png") -480px 0px no-repeat;
$gear_icon_dark:              image-url("converge-ui/icons/action-icons.png") -480px -16px no-repeat;
$plus_icon_black:             image-url("converge-ui/icons/action-icons.png") -400px -16px no-repeat;
$bug_icon_black:              image-url("converge-ui/icons/action-icons.png") -416px -16px no-repeat;
$shield_icon_black:           image-url("converge-ui/icons/action-icons.png") -432px -16px no-repeat;
$download_icon_black:         image-url("converge-ui/icons/action-icons.png") -513px 0px no-repeat;
$download_icon_grey:          image-url("converge-ui/icons/action-icons.png") -513px -16px no-repeat;
$details_icon_grey:           image-url("converge-ui/icons/action-icons.png") -256px 0px no-repeat;
$details_icon_black:          image-url("converge-ui/icons/action-icons.png") -256px -16px no-repeat;
$package_icon_grey:           image-url("converge-ui/icons/action-icons.png") -560px 0px no-repeat;
$package_icon_black:          image-url("converge-ui/icons/action-icons.png") -560px -16px no-repeat;
$erratum_icon_grey:           image-url("converge-ui/icons/action-icons.png") -576px 0px no-repeat;
$erratum_icon_black:          image-url("converge-ui/icons/action-icons.png") -576px -16px no-repeat;
$system_group_icon_grey:      image-url("converge-ui/icons/action-icons.png") -590px 0px no-repeat;
$system_group_icon_black:     image-url("converge-ui/icons/action-icons.png") -590px -16px no-repeat;

@mixin action-icon($icon) {
    background: $icon;
    margin-left: 6px;
    margin-top: -1px;
    &:hover {

    }
}

.errata_icon {
  margin-left: 6px;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 0px;
}
.security_icon {
  background: $shield_icon_black;
  @extend .errata_icon;
}
.enhancement_icon {
  background: $plus_icon_black;
  @extend .errata_icon;
}
.bugzilla_icon {
  background: $bug_icon_black;
  @extend .errata_icon;
}
.details-icon {
  background: $details_icon_grey;
  @extend .errata_icon;
  float: right;
  &:hover { background: $details_icon_black; }
}
.details-icon-hover {
  background: $details_icon_black;
  @extend .errata_icon;
}
.details-icon-nohover {
  background: $details_icon_grey;
  @extend .errata_icon;
}

.gears_icon {
  background: $gears_icon_black;
  @extend .errata_icon;
  &:hover{
    background: $gears_icon_grey;
  }
}
