/*************
* Base Colors
**************/
$application-background-color:  #D9D9D9 !default;
$primary-color:                 #26B3E2 !default;
$light_primary-color:           lighten($primary-color, 35%) !default;
$selected-color:                darken($primary-color, 15%) !default;
$link-color:                    darken($primary-color, 05%) !default; /* default links */
$tab_on-color:                  darken($selected-color, 1%) !default;
$tab_off-color:                 #747474 !default; /* unfocused tabs */
$list_hover-color:              lighten($selected_color, 10%) !default; /* list items prelight state */
$font-color:                    #A1A1A1 !default;
$headline-color:                #939292 !default;
$border-color:                  #D7D7D7 !default;
$headline_font-color:           #50505A !default;
$text-color:                    #999999 !default;

/**************
* Form Colors
***************/
$label-color:             #888 !default;
$input_background-color:  #F0F0F0 !default;


/****************
*  Header Colors
*****************/
$header-color:                    #333333 !default;
$header-border-top-color:         #01536d !default;
$header-border-bottom-color:      rgba(11, 15, 16, 0.55);
$header_background_top-color:     #009DCC !default;
$header_background_bottom-color:  #006F8F !default;
$header_widget-background-color:  #0A6684;
$tab_background-color:            rgba(25, 25, 30, 0.4) !default;
$tab_hover-color:                 rgba(25, 25, 30, .15);
$tab_font-color:                  #F1F1F1;
$tab_selected-color:              #505050;
$tab_container_outline-color:     rgba(205, 205, 208, 0.4);


/****************
*  Footer Colors
*****************/
$footer_background-color: #EBEBEB !default;
$footer_border_top-color: #F2F2F2 !default;


/****************
*  Login Colors
*****************/
$label_font-color:              #CCC !default;
$input_font-color:              #50505A !default;
$login_link-color:              #0194E8 !default;
$login_base-color:              #D9D9D9 !default;
$login_card_shadow-color:       #D9D9D9 !default;
$login_background_top-color:    #FFF !default;
$login_background_bottom-color: #FFF !default;


/****************************
*  Complex Color Definitions
*****************************/

/* background for header */
@mixin header-background_color {
  @include background(linear-gradient(top, $header_background_top-color 0%, $header_background_top-color 50%, $header_background_bottom-color 100%));
}

/* background for tabs on header */
@mixin tab-selected-bg {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 50%, #d9d9d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ebebeb), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 50%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#ebebeb 50%,#d9d9d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#ebebeb 50%,#d9d9d9 100%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#ebebeb 50%,#d9d9d9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

@mixin login_background-color {
  @include background(linear-gradient(top, $login_background_top-color 0%, $login_background_top-color 50%, $login_background_bottom-color 100%));
}

@mixin login_logo_background-color {
  @include header-background_color;
}

@mixin button_color {
  @include background-image(linear-gradient(top, #F9F9F9, #F0F0F0, #E5E5E5, #E9E9E9));
}


/*****************
* Switcher Colors
******************/
$switcher-top_color: #FFF;
$switcher-bottom_color: rgba(204,204,204,1);
@mixin switcher-button_color{
  @include background(linear-gradient(top, $switcher-top_color 0%, $switcher-top_color 50%, $switcher-bottom_color 100%));
}
@mixin switcher-button-active_color {
  @include background(linear-gradient(top, $switcher-bottom_color 0%, $switcher-top_color 50%, $switcher-top_color 100%));
}
@mixin switcher-form_color {
  @include background(linear-gradient(top, $switcher-top_color 0%, $switcher-bottom_color 75%, $switcher-bottom_color 100%));
}
