/*************
* Base Colors
**************/
$application-background-color:  #D9D9D9 !default;
$primary-color:                 #26B3E2 !default;
$light_primary-color:           lighten($primary-color, 35%) !default;
$selected-color:                darken($primary-color, 15%) !default;
$link-color:                    darken($primary-color, 05%) !default; // default links
$tab_on-color:                  darken($selected-color, 1%) !default;
$tab_off-color:                 #747474 !default; // unfocused tabs
$list_hover-color:              lighten($selected_color, 10%) !default; // list items prelight state
$font-color:                    #1A1A1A !default;
$headline-color:                #939292 !default;
$border-color:                  #D7D7D7 !default;
$headline_font-color:           #50505A !default;
$text-color:                    #999999 !default;
$text_color_2:                  rgb(60, 60, 60) !default; // darker color (should stay)
$theme_color:                   darken(#4e9fdd, 15%) !default; // = darken($rh-blue, 15%);
$white-color:                   #FFF !default;
$white_color:                   white !default;
$black_color:                   black !default;
$transparent_white_color:         rgba(white, 0) !default;

$theme_background_top_color:     #009DCC !default;
$theme_background_bottom_color:  #006F8F !default;


/****************
*  Palette Colors
*****************/

/* Proposed colour palette
===========================*/

/* Generic default tone for non interactive elements */
$tone:  #a7b0b2 !default;

/* Favorite greys for warm interactive elements */
$g0:  #ffffff !default;
$g1:  #f6f6f6 !default;
$g2:  #d7d5cf !default;
$g3:  #bdbab6 !default;
$g4:  #9f9d99 !default;
$g5:  #565753 !default;
$g6:  #333333 !default;
$g7:  #222222 !default;
$g8:  #111111 !default;
$g9:  #000000 !default;

/* Red Hat toners */
$rh-base: #60605b !default;
$rh-cream: #dedcc1 !default;

/* Red Hat Official */
$rh-red1:      #cc0000 !default;
$rh-red2:      #9e292b !default;
$rh-red3:      #781f1c !default;

$rh-blue:      #4e9fdd !default;
$rh-lightblue: #bfdce8 !default;
$rh-teal:      #2c8596 !default;
$rh-dark-blue: #003d6e !default;
$rh-lime:      #e3e936 !default;
$rh-green:     #afbf27 !default;
$rh-purple:    #564979 !default;
$rh-orange:    #dc9f2e !default;

/* Red Hat Apps  - Web Extended
================================*/

/* Orange (the letter o) */
$o7:    #400 !default;
$o6:    #b30 !default;
$o5:    #c40 !default;
$o4:    #e70 !default;
$o3:    #fa0 !default;
$o2:    #fc3 !default;
$o1:    #fea !default;

/* Green */
$link-light:  #39f !default;
$link:        #05f !default;
$link-dark:   #039 !default;

$green1: #a3d541 !default;
$green2: #57a81c !default;
$green3: #286200 !default;

/* Red */
$error-color: #990000 !default;
$error_lighter-color: lighten($error-color, 60%);


/************************
* Company Switcher Colors
*************************/
$switcher-top_color: #FFF;
$switcher-bottom_color: rgba(204,204,204,1);

@mixin switcher-button_color{
  @include background(linear-gradient(top, $switcher-top_color 0%, $switcher-top_color 50%, $switcher-bottom_color 100%));
}

@mixin switcher-button-active_color {
  @include background(linear-gradient(top, $switcher-bottom_color 0%, $switcher-top_color 50%, $switcher-top_color 100%));
}

@mixin switcher-form_color {
  @include background(linear-gradient(top, $switcher-top_color 0%, $switcher-bottom_color 75%, $switcher-bottom_color 100%));
}

/************
* Theme color
************/
/* background for header */
@mixin theme_background_gradient {
  @include background(
    linear-gradient(
      top,
      $theme_background_top_color 0%,
      $theme_background_top_color 50%,
      $theme_background_bottom_color 100%
    )
  );
}

