@import "alchemy/partials/base";
@import "alchemy/components/header/header_vars";

.centered {
  width: $static_width;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

header#header {
  @include theme_background_gradient;
  height: $header_height;
  border-top: 4px solid $header_border_top_color;
  border-bottom: 1px solid $header_border_bottom_color;
  position: relative;
  font-family: $headlinefont;

  &:after {
    content: "";
    background: $tab_selected_color;
    border-top: 1px solid $tab_container_outline_color;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: -6px;
    z-index: 0;
  }

  h1 {
    display: inline-block;
    position: absolute;
    bottom: 25px;
    left: 15px;
    margin: 0;
    font-size: inherit;
    text-indent: -5555px;
  }

  .logo {
    background: $logo_img;
    background-size: contain;
    text-indent: -5555px;
    width: 170px;
    bottom: 16px;
    height: 46px;
    left: 30px;
    position: absolute;
    display: block;
  }

  #loading {
    display: none;
    position: absolute;
    bottom: 34px;
    z-index: 100;
    height: 22px;
    width: 22px;
    padding: 0;
    background: $loading_img;
  }

  #appnav {
    border: 1px solid $header_border_bottom_color;
    border-bottom: none;
    @include border-radius(3px 3px 0 0);
    white-space: nowrap;
    margin: 0 auto;
    z-index: 2;
    float: left;

    ul {
      position: relative;
      overflow: auto;
      @include border-radius(3px 3px 0 0);
      border: 1px solid $tab_container_outline_color;
      border-bottom: none;
      outline: 0 none;
      @include theme_background_gradient;

      li {
        display: block;
        float: left;
        position: relative;
        outline: 0 none;

        a {
          display: block;
          position: relative;
          text-decoration: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          font-weight: bold;
          color: $tab_font_color;
          padding: 0 13px;
          font-size: 13px;
          background-color: $tab_background_color;
          height: 28px;
          line-height: 28px;
          border-right: 3px solid $tab_container_outline_color;
          @include background-clip(padding);
          outline: 0 none;
          &:focus{background-color: darken($tab_background_color, 15%)}
          &.selected {
            color: $tab_selected_text_color;
            position: relative;
            outline: 0 none;
            @include linear_gradient($tab_selected_color, $white_color, $tab_selected_color);

            &:hover {
              @include linear_gradient($tab_selected_color, $white_color, $tab_selected_color);
              color: #37373E;
            }
          }

          &:hover {
            outline: 0 none;
            background: $tab_hover_color;
            color: $tab_font_color;
          }
        }

        &:first-child > a {
          outline: 0 none;
          @include border-radius(3px 0 0 0);
        }

        &:last-child > a {
          @include border-radius(0 3px 0 0);
          border-right: none;
        }
      }
    }
  }

  #nav-container {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 35%;
    z-index: 1;
    height: 2.5em;
    padding: 5px 6px 0 6px;
    @include border-radius(5px 5px 0 0);
  }

  #widget-container {
    min-width: 225px;
    position: relative;
    top: 22px;
    float: right;
    margin-right: 15px;
    a { color: #FFF; }
    ul {
      float: left;
      li {
        ul {
          display: none;
          position: absolute;
          top: 16px;
          z-index: 99;
          left: 0px;
          @include border-radius(0 5px 5px 5px);
          @include box-shadow(2px 2px 2px rgba(0,0,0,0.4));
          min-width: 4.2em;
          padding: 2px 12px;
          text-align: left;
          background-color: $header_widget_color;
        }
        .arrow_icon_menu {
          height: 11px;
          width: 13px;
          background: $arrow_icon;
          float: right;
          margin: 5px 0 0 0;

          &:hover {
            background: $arrow_icon;
            background-position: 0 -13px;
          }
        }
      }
    }
  }

  .header-widget {
    background-color: $header_widget_color;
    @include border-radius(5px);
    font-size: 11px;
    color: #FFF;
    text-align: center;
    margin-right: 8px;
    padding: 2px 6px 0 6px;
    text-decoration: none;
    float: right;
    height: 20px;
    line-height: 19px;
  }
}

//* ugly IE8 specific hacks for the header to look decent/*/
@media \0screen {
  header#header {
    background-color: #009DCC;
    .header-widget {
      background-color: #19191E;
      @include opacity(0.4);
    }
    #appnav {
      margin-left: 10px;
    }
  }
}
