/* background for tabs on header */
@mixin tab-selected-bg {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 70%, #d9d9d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(70%,#ebebeb), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 70%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#ebebeb 70%,#d9d9d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#ebebeb 70%,#d9d9d9 100%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#ebebeb 70%,#d9d9d9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

