$header_border_top_color:         lighten($primary_color, 6%) !default;
$header_border_bottom_color:      darken($primary_color, 10%) !default;
$tab_background_color:            darken($primary_color, 1%) !default;
$tab_hover_color:                 rgba(black, 0.2) !default;
$tab_font_color:                  #F1F1F1 !default;
$tab_selected_text_color:         #505050 !default;
$tab_selected_color:              #D9D9D9 !default;
$tab_container_outline_color:     rgba(white, 0.3) !default;

$header_height: 85px !default;
