$header-color:                    #333333 !default;
$header-border-top-color:         #01536d !default;
$header-border-bottom-color:      rgba(11, 15, 16, 0.55) !default;
$header_widget-background-color:  #0A6684 !default;
$tab_background-color:            rgba(25, 25, 30, 0.4) !default;
$tab_hover-color:                 rgba(25, 25, 30, .15) !default;
$tab_font-color:                  #F1F1F1 !default;
$tab_selected-color:              #505050 !default;
$tab_container_outline-color:     rgba(205, 205, 208, 0.4) !default;

$header-height: 85px !default;
