//Images
$body_background_img:         image-url("embed/outer-background.png") repeat-x 0 -7px #FFF;
$logo_img:                    image-url("embed/logo.png") no-repeat 0 0 transparent;
$center_background_img:       image-url("embed/center-background.png") no-repeat center top transparent;
$third_level_background_img:  image-url("embed/3rd-level-bg.png") no-repeat bottom center transparent;
$subnav_shadow_img:           image-url("embed/subnav-shadow.png") repeat-x 0 bottom transparent;
$footer_shade_img:            image-url("embed/footer-shade.png") repeat-x 0 0 transparent;
$order_desc_img:              image-url("embed/icons/order-desc.png") no-repeat center right;
$order_asc_img:               image-url("embed/icons/order-asc.png") no-repeat center right;
$ui_totop_img:                image-url("embed/icons/ui.totop.png") no-repeat left top;
$ui_totop_hover_img:          image-url("embed/icons/ui.totop.png") no-repeat left -32px;
$ninesixty_img:               image-url("embed/960.png") repeat-y top center;
$input_background_img:        image-url("embed/input-bg.png") repeat-x 0 0 #f0f0f0;
$spinner_img:                 image-url("embed/icons/spinner.gif") no-repeat 0 0 transparent;
$loading_img:                 image-url("embed/icons/spinner_head.gif") no-repeat 0 0 transparent;

/* this needs to work for converge-ui */
$spritePath: image-url("embed/icons/action-icons.png");

[class$="_icon_grey"],
[class$="_icon_black"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: $spritePath;
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

//Icons
.search_icon_white        { background-position: 0 0; }
.edit_icon_black          { background-position: -16px -16px; }
.x_icon_grey              { background-position: -32px 0px; }
.x_icon_black             { background-position: -32px -16px; }
.add_icon_black           { background-position: -48px -16px; }
.gears_icon_black         { background-position: -64px -16px; }
.gears_icon_grey          { background-position: -64px 0px; }
.lock_icon_grey           { background-position: -96px 0px; }
.lock_icon_black          { background-position: -96px -16px; }
.circle-x_icon_black      { background-position: -160px -16px; }
.circle-x_icon_grey       { background-position: -160px 0px; }
.play_icon_black          { background-position: -176px -16px; }
.play_icon_grey           { background-position: -176px 0; }
.details_icon_grey        { background-position: -256px 0px; }
.details_icon_black       { background-position: -256px -16px; }
.comp_icon_black          { background-position: -320px -16px; }
.help-tip_icon_grey       { background-position: -336px 0px; }
.help-tip_icon_black      { background-position: -336px -16px; }
.warning_icon_triangle    { background-position: -384px -16px; }
.error_icon_black         { background-position: -384px -16px; }
.plus_icon_black          { background-position: -400px -16px; }
.bug_icon_black           { background-position: -416px -16px; }
.shield_icon_black        { background-position: -432px -16px; }
.check_icon_black         { background-position: -448px -16px; }
.clock_icon_black         { background-position: -464px -16px; }
.gear_icon                { background-position: -480px 0px; }
.gear_icon-dark           { background-position: -480px -16px; }
.download_icon_black      { background-position: -513px 0px; }
.download_icon_grey       { background-position: -513px -16px; }
.package_icon_grey        { background-position: -560px 0px; }
.package_icon_black       { background-position: -560px -16px; }
.erratum_icon_grey        { background-position: -576px 0px; }
.erratum_icon_black       { background-position: -576px -16px; }
.system_group_icon_grey   { background-position: -590px 0px; }
.system_group_icon_black  { background-position: -590px -16px; }

$arrow_min_img:               image-url("embed/icons/expander-collapsed.png") no-repeat top center;
$arrow_max_img:               image-url("embed/icons/expander-expanded.png") no-repeat top center;
$arrow_min_img_small:         image-url("embed/icons/action-icons.png")  -544px -16px no-repeat;
$arrow_max_img_small:         image-url("embed/icons/action-icons.png")  -528px -16px no-repeat;
$x_icon_grey:                 image-url("embed/icons/action-icons.png")  -32px 0px no-repeat;
$x_icon_black:                image-url("embed/icons/action-icons.png")  -32px -16px no-repeat;
$add_icon_black:              image-url("embed/icons/action-icons.png")  -48px -16px no-repeat;
$info_icon:                   image-url("embed/icons/info.png") no-repeat scroll 98% 6px transparent;
$info_hover_icon:             image-url("embed/icons/info.png") no-repeat scroll 98% 6px transparent;
$edit_icon:                   image-url("embed/icons/edit.png") no-repeat scroll 98% 6px transparent;
$edit_icon_black:             image-url("embed/icons/action-icons.png")  -16px -16px no-repeat;
$edit_hover_icon:             image-url("embed/icons/edit-hover.png") no-repeat scroll 98% 6px #F2F2F2;
$circle_x_icon_black:         image-url("embed/icons/action-icons.png")  -160px -16px no-repeat;
$circle_x_icon_grey:          image-url("embed/icons/action-icons.png")  -160px 0px no-repeat;
$play_icon_black:             image-url("embed/icons/action-icons.png")  -176px -16px no-repeat;
$play_icon_grey:              image-url("embed/icons/action-icons.png")  -176px 0 no-repeat;
$comp_icon_black:             image-url("embed/icons/action-icons.png")  -320px -16px no-repeat;
$home_icon_black:             image-url("embed/icons/breadcrumb-icons.png") -16px -16px no-repeat;
$home_icon_green:             image-url("embed/icons/breadcrumb-icons.png") -16px 0px no-repeat;
$locked_icon:                 image-url("embed/icons/locked.png") 0 0 no-repeat;
$dotdotdot_icon:              image-url("embed/icons/dotdotdot.png") no-repeat right bottom transparent;
$close_icon:                  image-url("embed/icons/close.png") no-repeat scroll right center transparent;
$search_icon_black:           image-url("embed/icons/breadcrumb-icons.png") 0px -16px no-repeat;
$search_icon_white:           image-url("embed/icons/action-icons.png") no-repeat 0 0;
$icon_search_grey:            image-url("embed/icons/icon_search.png") no-repeat 0 0;
$base_product_icon:           image-url("embed/icons/objects.png") no-repeat 0 0;
$custom_product_icon:         image-url("embed/icons/objects.png") no-repeat -16px 0;
$rh_product_icon:             image-url("embed/icons/objects.png") no-repeat -48px 0;
$grabber_icon:                image-url("embed/icons/grabber.png") 1px 50% no-repeat;
$status_icon_green:           image-url("embed/icons/status.png") no-repeat 0 0;
$status_icon_yellow:          image-url("embed/icons/status.png") no-repeat 0 -10px;
$status_icon_red:             image-url("embed/icons/status.png") no-repeat 0 -25px;
$status_exclamation_icon:     image-url("embed/icons/statusicons.png") no-repeat 0 0;
$status_confirm_icon:         image-url("embed/icons/statusicons.png") no-repeat -16px 0;
$status_alert_icon:           image-url("embed/icons/statusicons.png") no-repeat -32px 0;
$arrow_icon:                  image-url("embed/icons/arrow_icon.png") no-repeat 0 0;
$arrow_icon_menu:             image-url("embed/icons/arrow_icon.png") no-repeat -26px 0;
$arrow_icon_menu_hover:       image-url("embed/icons/arrow_icon.png") no-repeat -13px 0;
$status_icons_green:          image-url("embed/icons/status_icons_sprite.png") no-repeat 0 0;
$status_icons_green_small:    image-url("embed/icons/status_icons_sprite.png") no-repeat 1px -26px;
$status_icons_yellow:         image-url("embed/icons/status_icons_sprite.png") no-repeat -53px 0;
$status_icons_yellow_small:   image-url("embed/icons/status_icons_sprite.png") no-repeat -30px -25px;
$status_icons_red:            image-url("embed/icons/status_icons_sprite.png") no-repeat -25px 0;
$status_icons_red_small:      image-url("embed/icons/status_icons_sprite.png") no-repeat -15px -25px;
$gears_icon_black:            image-url("embed/icons/action-icons.png") -64px -16px no-repeat;
$gears_icon_grey:             image-url("embed/icons/action-icons.png") -64px 0px no-repeat;
$warning_icon_triangle:       image-url("embed/icons/action-icons.png") -384px -16px no-repeat;
$warning_icon_black:          image-url("embed/icons/action-icons.png") -432px -16px no-repeat;
$error_icon_black:            image-url("embed/icons/action-icons.png") -384px -16px no-repeat;
$check_icon_black:            image-url("embed/icons/action-icons.png") -448px -16px no-repeat;
$clock_icon_black:            image-url("embed/icons/action-icons.png") -464px -16px no-repeat;
$gear_icon:                   image-url("embed/icons/action-icons.png") -480px 0px no-repeat;
$gear_icon_dark:              image-url("embed/icons/action-icons.png") -480px -16px no-repeat;
$plus_icon_black:             image-url("embed/icons/action-icons.png") -400px -16px no-repeat;
$bug_icon_black:              image-url("embed/icons/action-icons.png") -416px -16px no-repeat;
$shield_icon_black:           image-url("embed/icons/action-icons.png") -432px -16px no-repeat;
$download_icon_black:         image-url("embed/icons/action-icons.png") -513px 0px no-repeat;
$download_icon_grey:          image-url("embed/icons/action-icons.png") -513px -16px no-repeat;
$details_icon_grey:           image-url("embed/icons/action-icons.png") -256px 0px no-repeat;
$details_icon_black:          image-url("embed/icons/action-icons.png") -256px -16px no-repeat;
$package_icon_grey:           image-url("embed/icons/action-icons.png") -560px 0px no-repeat;
$package_icon_black:          image-url("embed/icons/action-icons.png") -560px -16px no-repeat;
$erratum_icon_grey:           image-url("embed/icons/action-icons.png") -576px 0px no-repeat;
$erratum_icon_black:          image-url("embed/icons/action-icons.png") -576px -16px no-repeat;
$system_group_icon_grey:      image-url("embed/icons/action-icons.png") -590px 0px no-repeat;
$system_group_icon_black:     image-url("embed/icons/action-icons.png") -590px -16px no-repeat;
$icon_menu_arrow:             image-url("embed/icons/icon_menu_arrow.gif") no-repeat 0 0;