@import "mixins";

$header-height: 85px !default;
$header_border_top-color: #01536d !default;
$header_border_bottom-color: #D9D9D9 !default;
$tab_background-color: rgba(25, 25, 30, .40);

.centered {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

header#header {
  @include header-background_color;
  height: $header_height - 8px;
  border-top: 4px solid $header_border_top-color;
  border-bottom: 4px solid $header_border_bottom-color;
  position: relative;
  font-family: "Overpass",Interstate,sans-serif;
  h1 {
    position: absolute;
    bottom: 25px;
    left: 15px;
    display: inline-block;
    margin: 0;
    font-size: inherit;
  }
  #appnav {
    border: 1px solid rgba(11, 15, 16, .55);
    border-bottom: none;
    border-radius: 3px 3px 0 0; 
    white-space: nowrap;
    position: absolute;
    bottom: 0px;
    left: 218px;
    margin-right: 138px;
    z-index: 2;

    ul {
      position: relative;
      overflow: auto;
      border-radius: 3px 3px 0 0;
      border: 1px solid rgba(205, 206, 208, .40);
      border-bottom: none;

      li {
        display: block;
        float: left;
        position: relative;

        a {
          display: block;
          text-decoration: none;
          position: relative;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          font-weight: bold;
          color: #f1f1f1;
          padding: 0 13px;
          font-size: 13px;
          background-color: $tab_background-color;
          height: 28px;
          line-height: 28px;
          border-right: 3px solid rgba(205, 206, 208, .40);
          -moz-background-clip: padding;   
          -webkit-background-clip: padding;
          background-clip: padding-box;           

          &.selected {
            color: #50505a;
            position: relative;
            @include tab-selected-bg;
            &:hover {
              @include tab-selected-bg;
              color: #37373E;
            }
          }

          &:hover {
            background: rgba(25, 25, 30, .15);
            color: #f1f1f1;
          }
        }

        &:first-child > a {
          -webkit-border-radius: 3px 0 0 0;
          -moz-border-radius: 3px 0 0 0;
          border-radius: 3px 0 0 0;
        }

        &:last-child > a {
          -webkit-border-radius: 0 3px 0 0;
          -moz-border-radius: 0 3px 0 0;
          border-radius: 0 3px 0 0;
          border-right: none;
        }
      }
    }
  }

  #widget-container {
    position: absolute;
    top: 22px;
    right: 30px;
  }

  .header-widget {
    background-color: $tab_background-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    color: #FFF;
    text-align: center;
    margin-right: 8px;
    padding: 2px 6px;
    text-decoration: none;
  }
}


#notifications {
  position:absolute;
  right:0em;
  min-width:20em;
  max-width:30em;
  line-height:1.5em;

  section {
    /*border-radius*/
    -webkit-border-radius:.5em;
    -moz-border-radius:.5em;
    border-radius:.5em;
    position:relative;
    overflow:visible;
    width:100%;
    margin:0em;
    right:0;
    display:block !important;
    margin-top:1em;
    padding:1em;
    top:0em;
    background-color:#555;
    color:#ddd;
    text-shadow:none;
    text-indent:0em;
    /*box-shadow*/
    -webkit-box-shadow:0px 0em 0em .1em #fff, 0px .2em .5em rgba(0,0,0,0.1);
    -moz-box-shadow:0px 0em 0em .1em #fff, 0px .2em .5em rgba(0,0,0,0.1);
    box-shadow:0px 0em 0em .1em #fff, 0px .2em .5em rgba(0,0,0,0.1);
  
    &:before {
      position:absolute;
      display:block;
      content:"";
      height:0;
      width:0;
      border-width:0em .75em .75em .75em;
      border-style:none solid solid solid;
      top:-.79em;
      right:6.75em;
      border-color:transparent transparent #fff transparent;
    }

    &:after {
      position:absolute;
      display:block;
      content:"";
      height:0;
      width:0;
      border-width:0em .75em .75em .75em;
      border-style:none solid solid solid;
      top:-.70em;
      right:6.75em;
      border-color:transparent transparent #555 transparent;
    }

    a { color:#fff; }

    .alert {
      background-color:#a00;
      color:#fff;
      text-shadow:0 -1px #900;
      /*box-shadow*/
      -webkit-box-shadow:0px 0em 0em .1em #fff, 0px .2em .5em .2em rgba(255,0,0,0.21);
      -moz-box-shadow:0px 0em 0em .1em #fff, 0px .2em .5em .2em rgba(255,0,0,0.21);
      box-shadow:0px 0em 0em .1em #fff, 0px .2em .5em .2em rgba(255,0,0,0.21);

      &:after {
        border-color:transparent transparent #a00 transparent;
      }
    }
  }
}
