@import "base";


.centered {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

header#header {
  @include header-background_color;
  height: $header_height - 8px;
  border-top: 4px solid $header_border_top-color;
  border-bottom: 4px solid $header_border_bottom-color;
  position: relative;
  font-family: "Overpass",Interstate,sans-serif;
  h1 {
    position: absolute;
    bottom: 25px;
    left: 15px;
    display: inline-block;
    margin: 0;
    font-size: inherit;
    text-indent: -5555px;
  }
  .logo {
    background: $logo_img;
    text-indent: -5555px;
    width: 170px;
    height: 30px;
    bottom: 25px;
    left: 15px;
    position: absolute;
    display: block;
  }
  #loading {
    display: none;
    bottom: 27px;
    display: none;
    height: 22px;
    padding: 0;
    position: absolute;
    width: 22px;
    z-index: 100;
    background: $loading_img;
  }
  #appnav {
    border: 1px solid rgba(11, 15, 16, .55);
    border-bottom: none;
    border-radius: 3px 3px 0 0; 
    white-space: nowrap;
    position: absolute;
    bottom: 0px;
    left: 218px;
    margin-right: 138px;
    z-index: 2;

    ul {
      position: relative;
      overflow: auto;
      border-radius: 3px 3px 0 0;
      border: 1px solid rgba(205, 206, 208, .40);
      border-bottom: none;

      li {
        display: block;
        float: left;
        position: relative;

        a {
          display: block;
          text-decoration: none;
          position: relative;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          font-weight: bold;
          color: #f1f1f1;
          padding: 0 13px;
          font-size: 13px;
          background-color: $tab_background-color;
          height: 28px;
          line-height: 28px;
          border-right: 3px solid rgba(205, 206, 208, .40);
          -moz-background-clip: padding;   
          -webkit-background-clip: padding;
          background-clip: padding-box;           

          &.selected {
            color: #50505a;
            position: relative;
            @include tab-selected-bg;
            &:hover {
              @include tab-selected-bg;
              color: #37373E;
            }
          }

          &:hover {
            background: rgba(25, 25, 30, .15);
            color: #f1f1f1;
          }
        }

        &:first-child > a {
          -webkit-border-radius: 3px 0 0 0;
          -moz-border-radius: 3px 0 0 0;
          border-radius: 3px 0 0 0;
        }

        &:last-child > a {
          -webkit-border-radius: 0 3px 0 0;
          -moz-border-radius: 0 3px 0 0;
          border-radius: 0 3px 0 0;
          border-right: none;
        }
      }
    }
  }

  #widget-container {
    position: absolute;
    top: 22px;
    right: 30px;
  }

  .header-widget {
    background-color: $tab_background-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    color: #FFF;
    text-align: center;
    margin-right: 8px;
    padding: 2px 6px;
    text-decoration: none;
  }
}
