@import "compass/reset";
@import "mixins";
@import "text";
@import "colors";
@import "utils";
@import "sprites";
@import "footer";
@import "forms";

$container-width: 500px;
$container-height: 270px;
$login_container-width: 500px;
$login_container-height: 280px;

$logo_container-width: 140px;
$form_container-width: 360px;

$label_font-color: #CCC;
$input_font-color: #50505A;

html, body{ 
  width: 100%; 
  height: 100%;
  @include login-background_color;
  font-family: $headlinefont;
}

#wrapper {
  min-height: 100%;
  padding-bottom: 10px;
}

article {
  position: relative;
  top: (1024 / 2) - $login_container-height;

  .container {
    clear: left;
    position: relative;
    width: $login-container_width;
    min-height: $login-container_height;
    margin: 0 auto;
    @include login-background_color;
    //box-shadow: 0px 0px 1px #000;
    background-clip: content-box;
    border: 10px solid rgba(0,0,0, 0.2);
    border-radius: 7px;
    overflow: auto;

    aside {
      float: left;
      width: $logo_container-width;
      min-height: $login-container-height;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;

      img {
        margin-top: 50px;
      }
    }

    section {
      float: left;
      width: $form_container-width;
      min-height: $login-container-height;
      background: $background_color;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      @include login-container_color;

      .content {
        margin: 52px 30px 0;

        fieldset.primary {
          margin-bottom: 7px;

          label {
            display: block;
            margin-bottom: 5px;
            margin-left: 10px;
            font-size: 12px;
            font-weight: bold;
            color: $label_font-color;
            text-align: left;
          }

          input {
            width: 290px;
            padding: 7px 0px 7px 10px;
            font-size: 14px;
            color: #000;
            border-radius: 8px;
            outline: none;
            border: 1px solid #CCC;
            height: 21px;

            &:focus {
              box-shadow: 0px 0px 10px orange;
            }
          }
        }

        div.group.left {
          display: inline;
          float: left;
        }

        div.group.right {
          display: inline;
          float: right;
          text-align: right;
        }

        div.group.bottom {
          position: absolute;
          bottom: 18px;
        }

        div.submit {
          position: absolute;
          right: 30px;
          bottom: 30px;
        }

        #progress-indicator {
          margin: 4px;
          display: none;
        }

        a {
          display: inline-block;
          outline: 0;
          text-align: left;
          margin: 0;
        
          &:hover {
            background-position-y: -16px;
          }
        }
      }
    }
  }

  .button {
    height: 30px;
    width: 85px;
    border: 1px solid $label_font-color;
    font-size: 12px;
    font-weight: bold;
    color: $input_font-color;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    @include button_color;
  }

}

.divider {
  margin: 15px 0;
  height: 2px;
  background: #CCC;
  clear: both;
}

.invisible {
  visibility: hidden;
}
