@import "compass";
@import "mixins";
@import "colors";


body {
  background-color: $background_color;
}
body, html {
  height:100%;
  //font-family: $screenfont;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
}
html { 
  /*forcing scrl*/
  height:100%;  
  margin-bottom: 1px !important;   
  overflow-y: scroll;
}
#maincontent {
  border-bottom: 1px solid #f2f2f2;
  blockquote.important a{color:$white_color;}
  section.maincontent{
      background-color: $white_color;
      min-height:20em;
      margin: 0 auto;
      width: 960px;
      @include box-shadow(0, 1px, 5px, rgba(0, 0, 0, 0.6));
      h1 {
        color:transparent;
        padding-top: 3em;
        color: #ddd;
        text-align: center;
        font-weight: normal;
        text-transform:capitalize;
      }

  }
}

/* microclearfix on all areas */
section:before, section:after, article:before, article:after {
  content:"";
  display:table;
}

article:after, section:after {
  clear:both;
}
