@import "ui_alchemy/alchemy/alchemy";
@import "alchemy/components/flash_messages/flash_messages_vars";

/*
  =======================================
  FLASH MESSAGES
  =======================================
*/

.flash_hud {
  position: relative;
  color: $flash_text_color;
  border-bottom: 1px solid lighten($border_color, 10%);
  @include linear_gradient($flash_bg_color, lighten($flash_bg_color, 10%), $flash_bg_color, 3em);

  /* link for closing flash messages */
  .control {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 13px;
    top: 12px;
    @include background(image-url('alchemy/icons/action-icons.png') no-repeat -33px 0);

    &:hover {
      background-position: -33px -16px;
    }
  }

  ul {
    margin: 0;
    padding: 10px 30px;

    li {
      line-height: 1.8;
      position: relative;

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }

      &:before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        left: -24px;
        top: 1px;
      }
    }

    ul {
      border: 0 none;
      padding: 0 20px;
      font-size: 90%;

      li {
        padding: 0;
        line-height: 1.4;
        list-style-type: disc;
      }
    }

    &.success {
      border-left: 5px solid $success_color;

      & > li:before {
        @include background(image-url("alchemy/icons/success_icon.png") no-repeat 50% 50%);
      }
    }

    &.warning {
      border-left: 5px solid $warning_color;

      & > li:before {
        @include background(image-url("alchemy/icons/warning_icon.png") no-repeat 50% 50%);
      }
    }

    &.error {
      border-left: 5px solid $error_color;

      & > li:before {
        @include background(image-url("alchemy/icons/error_icon.png") no-repeat 50% 50%);
      }
    }
  }
}
