@mixin input_field($color) {
  .label {
    color: $color;
  }

  input {
    border-color: $color;

    &:hover {
      border-color: darken($color, 12%);
    }

    &:focus {
      border-color: $color;
      @include box-shadow(0 0 2px $color);
    }
  }
}
