// layout
$left_column_width: 200px !default;
$input_width: 280px !default;
$input_padding: 10px !default;

// colors
$light_border_color: lighten($border_color, 10%) !default;
$fieldset_border_color: lighten($border_color, 10%) !default;

$fieldset_text_color: lighten($text_color, 46%) !default;
$placeholder_color: lighten($text_color, 55%) !default;
$note_text_color: lighten($text_color, 40%) !default;
$message_text_color: lighten($text_color, 20%) !default;

$disabled_color: lighten($rh_base, 60%) !default;
$disabled_text_color: lighten($text_color, 40%) !default;
$readonly_text_color: lighten($disabled_text_color, 2%) !default;

$light_box_color: lighten($rh_base, 60%) !default;
$light_box_gradient: lighten($light_box_color, 40%) !default;
$dark_box_color: darken($rh_base, 3%) !default;
$dark_box_gradient: lighten($dark_box_color, 8%) !default;
$fieldset_background_color: rgb(253, 253, 253) !default;

$shadow_color: lighten($border_color, 20%) !default;
